.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product{
    width: 300px;
    height: 510px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: rgb(236, 236, 236);
    
}

.cartBtnn{
background-color: rgba(42, 193, 212, 0.377);
border: 1px solid blue;
border-radius: 20px;

}
.cart-sticky{
    position: sticky;
    top: 0;
}
.cartBtnn:hover{
    background-color: whitesmoke;
}

@media screen and (max-width:1100px){

    .products-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    
    }

}